.App{
  margin: 10px;
  display: flex;
}
.google{
  margin: 5px;
}
.fb{
  margin: 5px;
}
.btnFacebook { 
  width: 165px;
  height:52px;  
  border-radius: 4px;
  background: #3b5998;
  color:white;
  border:0px transparent;  
  text-align: center;
  display: inline-block;
}
